// Variables

json('../../../public/config/styles.json')

.color-text-white {
    color color-text-white
}
.color-text-warning {
    color color-text-warning
}
.color-text-error {
    color color-text-error
}
.color-text-active {
    color color-text-active
}
.color-text-success {
    color color-text-success
}
.color-text-primary {
    color color-text-primary
}
.color-text-secondary {
    color color-text-secondary
}

.color-white {
    background-color color-white
}
.color-warning {
    background-color color-warning
}
.color-error {
    background-color color-error
}
.color-active {
    background-color color-active
}
.color-success {
    background-color color-success
}
.color-primary {
    background-color color-primary
}
.color-secondary {
    background-color color-secondary
}

// Paddings, Margins
padding-x = 15px
padding-y = 10px



