// Variables

// TODO: Change to this
// https://dev.to/johanfvn/from-json-to-stylus-variables-with-one-line-3bm3

// Colors
babybox = #B70034
primary = #092134
secondary = #FDF0D5
third = #0B2D47

white = #ffffff
warning = #FFFF00
error = #F44336
success = #009e00
active = error

primary-black = #030B11
primary-black-lighten = #04121c

background = #000000
active-background = red

color = #ffffff
text-white = #ffffff
text-warning = #FFFF00
text-error = #F44336
text-active = red
text-success = #00b800
text-primary = #0D47A1
text-secondary = secondary
text-brand = #d8003d

accent = #59656F
accent-hover = #454f57
accent2 = #8B94A3

.text-white {
    color text-white
}
.text-warning {
    color text-warning
}
.text-error {
    color text-error
}
.text-active {
    color text-active
}
.text-success {
    color text-success
}
.text-primary {
    color text-primary
}
.text-secondary {
    color text-secondary
}

// Paddings, Margins
padding-x = 15px
padding-y = 10px


// Other views other than panel (Main)
app-background = #000
app-color = #fff
app-primary = #1976D2
app-success = #388E3C
app-error = #D32F2F
app-warning = #FBC02D

app-primary-hover = #1565C0
app-success-hover = #2E7D32
app-error-hover = #C62828
app-warning-hover = #F9A825
