// Variables

// TODO: Change to this
// https://dev.to/johanfvn/from-json-to-stylus-variables-with-one-line-3bm3

// Colors
babybox = #B70034
primary = #092134
secondary = #FDF0D5
third = #0B2D47

white = #ffffff
warning = #FFFF00
error = #F44336
success = #009e00
active = error

primary-black = #030B11
primary-black-lighten = #04121c

background = #000000
active-background = red

color = #ffffff
text-white = #ffffff
text-warning = #FFFF00
text-error = #F44336
text-active = red
text-success = #00b800
text-primary = #0D47A1
text-secondary = secondary
text-brand = #d8003d

accent = #59656F
accent-hover = #505a63
accent2 = #27292b

.text-white {
    color text-white
}
.text-warning {
    color text-warning
}
.text-error {
    color text-error
}
.text-active {
    color text-active
}
.text-success {
    color text-success
}
.text-primary {
    color text-primary
}
.text-secondary {
    color text-secondary
}

// Paddings, Margins
padding-x = 15px
padding-y = 10px


// Other views other than panel (Main)
app-background = #000
app-color = #fff
app-primary = #283593
app-success = #2E7D32
app-error = #C62828
app-warning = #FF8F00

app-primary-hover = #1A237E
app-success-hover = #1B5E20
app-error-hover = #B71C1C
app-warning-hover = #FF6F00
