// Variables

json('../../../public/config/styles.json')

.color-text-white {
    color color-text-white
}
.color-text-warning {
    color color-text-warning
}
.color-text-error {
    color color-text-error
}
.color-text-active {
    color color-text-active
}
.color-text-success {
    color color-text-success
}
.color-text-primary {
    color color-text-primary
}
.color-text-secondary {
    color color-text-secondary
}

.white {
    background-color white
}
.warning {
    background-color warning
}
.error {
    background-color error
}
.active {
    background-color active
}
.success {
    background-color success
}
.primary {
    background-color color-text-primary
}
.secondary {
    background-color color-text-secondary
}

// Paddings, Margins
padding-x = 15px
padding-y = 10px



